<!DOCTYPE html>
<html>
<head>
    <title>Alpaca Strategy Statistics</title>
</head>
<body>
<h1>Sandbox Trading Stats</h1>
<div id="content">
    <table class="table table-striped">
        <tr>
            <th>Symbol</th>
            <th>Market Value</th>
            <th>Intraday P/L (%)</th>
            <th>Total P/L (%)</th>
            <th>Share of portfolio (%)</th>

            {% for key, position in positions.iterrows %}
                <tr>
                    <td>{{ position.symbol }}</td>
                    <td>{{ position.market_value }}</td>
                    <td>{{ position.unrealized_intraday_plpc }}</td>
                    <td>{{ position.unrealized_plpc }}</td>
                    <td>{{ position.share_of_portfolio }}</td>
                </tr>
            {% endfor %}
    </table>
    <ul>
        <li>Total equity value: {{ portfolio_val }}</li>
        <li>Total cash: {{ cash }}</li>
    </ul>
</div>

</body>
</html>